/* _content/Blazor.BarcodeReader.Android.Client/BarcodeReader.razor.rz.scp.css */
.my-component[b-63jc53z7bb] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
