/* _content/Blazor.Nfc.Client/NfcReaderPage.razor.rz.scp.css */
.my-component[b-u81bzu3ifs] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
