/* _content/Blazor.Screenshot.Client/ManualScreenshotComponent.razor.rz.scp.css */
.my-component[b-brm9bfio3h] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
